[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
	text-align: center;
	padding-top: 20px;
}
th, td {
	text-align: center;
}
a {
	color: grey;
	cursor: pointer;
}
a:hover {
	color: grey;
}
a.green {
	color: #419C57;
	font-weight: 600;
	text-decoration: underline;
}
button.green {
	background-color: #419C57;
	color: white;
	border-color: #419C57;
}
button.green:hover {
	opacity: 0.8;
}
.BOOM {
	background-color: #A1D490;
	color: white;
	border-color: #A1D490;
	border-radius: 4px;
	padding: 7px 30px;
	display: inline-block;
}
.RECESSION {
	background-color: #E05263;
	color: white;
	border-color: #E05263;
	border-radius: 4px;
	padding: 7px 30px;
	display: inline-block;
}
.theNumber {
	font-size: 100px;
	line-height: 70px;
}
h1 {
	text-decoration: underline;
}
.economicData {
	border: 1px dashed grey;
	padding-top: 30px;
}
.economicData p {
	margin-bottom: 15px;
}
.economicData .BOOM, .economicData .RECESSION {
	margin-bottom: 30px;
}
.howToPlay, .gamingData, .propertyList {
	margin: 15px 0;
}
.twitter-share-button {
	display: block;
	margin: 20px auto;
}
.yUNo {
	margin: 30px auto;
}

@media (max-width: 1125px) {
	.six.columns {
	    width: 100%;
	}
	.clickToBuy {
		margin-left: 0;
	}
	.economicData {
		margin-bottom: 30px;
	}
}