<!DOCTYPE html>
<html ng-app="game" lang="en">
<head>
	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>unReal Estate</title>
	<meta name="description" content="">
	<meta name="author" content="Xavi Lozano Segarra">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="Skeleton/normalize.css">
	<link rel="stylesheet" href="Skeleton/skeleton.css">
	<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>
<body>
	<div class="container" ng-controller="gameController as gameData">
		<div class="row">
			<div class="twelve columns">
				<p>{{date}}</p>
				<h1>Player</h1>
				<p>Savings: $<span>{{playerSavings}}</span></p>
				<p>Debts: $<span>{{playerDebt}}</span></p>	
				<button ng-click="gameData.buy(studioPrice, studio)" class="studio green">Studio - ${{studioPrice}}</button>
				<button ng-click="gameData.buy(flatPrice, apartment)" class="flat">Apartment - ${{flatPrice}}</button>
				<button ng-click="gameData.buy(penthousePrice, penthouse)" class="penthouse">Penthouse - ${{penthousePrice}}</button>
				<button ng-click="gameData.buy(villaPrice, villa)" class="villa">Villa - ${{villaPrice}}</button>
				<button ng-click="gameData.buy(blockPrice, block)" class="block">Block - ${{blockPrice}}</button>
				<button ng-click="gameData.buy(towerPrice, tower)" class="tower">Tower - ${{towerPrice}}</button>
				<button ng-click="gameData.buy(complexPrice, complex)" class="complex">Tower Complex - ${{complexPrice}}</button>
				<button ng-click="gameData.buy(urbanPrice, urban)" class="urban">Urban Plan - ${{urbanPrice}}</button>
			</div>
			<div class="twelve columns">
				<table class="u-full-width">
					<thead>
						<tr>
							<th>PROPERTY TYPE</th>
							<th>SELL PROPERTY</th>
							<th>CANCEL MORTGAGE</th>
							<th>REFURBISH COST</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="property in properties">
							<td>{{property.propertyIs}}</td>
							<!-- <p>Rent: {{property.rent}}</p> -->
							<!-- <p>Mortage: {{property.monthlyPayment}}</p> -->
				          	<td><a ng-click="gameData.sell($index)" class="sell {{property.colorSell}}">${{property.totalPrice}}</a></td>
							<td><a ng-click="gameData.cancel($index)" class="cancel {{property.colorCancel}}">${{property.cancel}}</a></td>
							<td><a ng-click="gameData.refurbish($index)" class="refurbish {{property.colorRefurbish}}">${{property.refurbish}}</a></td>
				        </tr>
					</tbody>
			    </table>
		    </div>
		</div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>