<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>unReal Estate</title>
	<meta name="description" content="unReal Estate is the game where you become a real estate mogul!">
	<meta name="author" content="xavils">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="Skeleton/normalize.css">
	<link rel="stylesheet" href="Skeleton/skeleton.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>
<body ng-app="game" class="ng-cloak">
	<div class="container" ng-controller="gameController as gameData">
		<div class="row">
			<div class="twelve columns">
				<h1>unReal Estate</h1>
				<h4>{{date}}</h4>
				<p>Net worth <span class="theNumber">${{netWorth}}</span></p>			
			</div>
		</div>
		<div class="row howToPlay">	
			<div class="twelve columns">
				<h3>How to play</h3>
				<p>Welcome to unReal Estate, the game where you become a real estate mogul! The goal of the game is to <b>become a billionare</b> (the richer the better) <b>before January 2100</b>. Your path of glory begins in december 1999 when you have saved enough dough to buy a small studio in the city center. You pay 20% of the cost and the bank will lend you the rest. This studio will provide a rent in return and you will also be paying mortgage until you repay the debt. <u>Beware of economic cycles as real estate will go up and down periodically.</u> The game will last 10-20 minutes.</p>
				<p><b>Actions you can perform:</b></p>
				<ul>
					<li>Once you have enough savings buy any kind of property to a max of 15 total.</li>
					<li>After 1 year of owning a property you can sell it back to the market.</li>
					<li>If you have enough savings, cancel your mortgage to avoid paying hefty interests.</li>
					<li>Every 15 years you will be able to refurbish your property to avoid loosing value.</li>
				</ul>
		    </div>
		</div>
		<div class="row gamingData">
			<div class="six columns economicData">
				<button ng-click="gameData.speed()">Speed</button>
				<p>Savings ${{playerSavings}}</p>
				<p>Debts ${{playerDebt}}</p>
				<p>Rent Income ${{totalRent}}</p>
				<p>Monthly Mortgage ${{totalMonthlyMortgage}}</p>
				<p class="{{recessionStatus}}">{{recessionStatus}}</p>
			</div>	
			<div class="six columns clickToBuy">
				<h3>Buy 1 property</h3>
				<button ng-click="gameData.buy(studioPrice, studio)" class="studio green">Studio ${{studioPrice}}</button>
				<button ng-click="gameData.buy(flatPrice, apartment)" class="flat">Apartment ${{flatPrice}}</button>
				<button ng-click="gameData.buy(penthousePrice, penthouse)" class="penthouse">Penthouse ${{penthousePrice}}</button>
				<button ng-click="gameData.buy(villaPrice, villa)" class="villa">Villa ${{villaPrice}}</button>
				<button ng-click="gameData.buy(blockPrice, block)" class="block">Block ${{blockPrice}}</button>
				<button ng-click="gameData.buy(towerPrice, tower)" class="tower">Tower ${{towerPrice}}</button>
				<button ng-click="gameData.buy(complexPrice, complex)" class="complex">Complex ${{complexPrice}}</button>
				<button ng-click="gameData.buy(urbanPrice, urban)" class="urban">Town ${{urbanPrice}}</button>
			</div>
		</div>
		<div class="row propertyList">	
			<div class="twelve columns">
				<h3>Your properties</h3>
				<table class="u-full-width">
					<thead>
						<tr>
							<th>PROPERTY TYPE</th>
							<th>SELL PROPERTY</th>
							<th>CANCEL MORTGAGE</th>
							<th>REFURBISH COST</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="property in properties">
							<td>{{property.propertyIs}}</td>
	          	<td><a ng-click="gameData.sell($index)" class="sell {{property.colorSell}}">${{property.totalPrice}}</a></td>
							<td><a ng-click="gameData.cancel($index)" class="cancel {{property.colorCancel}}">${{property.cancel}}</a></td>
							<td><a ng-click="gameData.refurbish($index)" class="refurbish {{property.colorRefurbish}}">${{property.refurbish}}</a></td>
		        </tr>
					</tbody>
			    </table>
		    </div>
		</div>
		<div class="row yUNo">
			<h2>Y U NO buy more properties???</h2>
		</div>
		<div class="row gameOver">	
			<div class="twelve columns">
				<h4>Highscore ${{highScore}}</h4>
				<h2>{{gameOver}}</h2>
				<button ng-click="gameData.restart()">Try again</button>
				<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Become filthy rich with unReal Estate, a game for real estate moguls! #UEGame&via=_xavils" data-size="large">Tweet</a>
				<p>Created by <a href="http://xavils.com" target="_blank">xavils</a>, inspired by <a href="http://hyperhippo.ca/" target="_blank">Hyper Hippo's Ad Capitalist</a>.</p>
	    	</div>
		</div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script>window.twttr = (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0],
	    t = window.twttr || {};
	  if (d.getElementById(id)) return t;
	  js = d.createElement(s);
	  js.id = id;
	  js.src = "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);
	 
	  t._e = [];
	  t.ready = function(f) {
	    t._e.push(f);
	  };
	 
	  return t;
	}(document, "script", "twitter-wjs"));</script>
</body>
</html>